@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600);
body {
  background-color: #d5d5d5;
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden; }

.main {
  position: absolute;
  display: block;
  background-color: #eee;
  height: 100px;
  width: 240px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2.5px 2.5px 0 0px #999999;
  border-radius: 2px;
  padding: 10px 20px;
  transition: all 100ms;
  cursor: pointer; }
  .main .heading {
    text-align: right;
    font-size: 1.4em;
    line-height: 1;
    margin-top: 1em; }
  .main .button {
    text-align: right;
    margin-right: 22%;
    line-height: 2.6;
    opacity: 0.4; }
  .main:hover {
    box-shadow: 5px 5px 0px 0px #999999; }
  .main.is-active {
    display: block; }
  .main img {
    height: 100px;
    width: 100px;
    float: left; }

.modal {
  position: absolute;
  display: block;
  background-color: #fff;
  height: 250px;
  width: 450px;
  left: -100%;
  transform: translate(-50%, -50%);
  top: 50%;
  box-shadow: 2.5px 2.5px 0 0 #999999;
  border-radius: 5px;
  transition: all 100ms;
  overflow: hidden;
  z-index: 2; }
@keyframes modal-1 {
  0% {
    transform: rotate(90deg);
    opacity: 0; }
  10%,90% {
    opacity: 1; }
  30%,70% {
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%); }
  100% {
    opacity: 0;
    left: 120%;
    transform: rotate(90deg); } }
  .modal.is-active {
    animation: modal-1 3s; }
  .modal .header {
    background-color: #008080;
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 1.2em; }
  .modal img {
    position: relative;
    float: left;
    width: 30%; }
  .modal .text {
    position: relative;
    left: 10px;
    margin: 10px;
    font-weight: 600;
    line-height: 1.2; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4); }
@keyframes overlay {
  0%,100% {
    opacity: 0; }
  20%,80% {
    opacity: 1; } }
  .overlay.is-active {
    display: block;
    animation: overlay 3s; }

/*# sourceMappingURL=style.css.map */
